// mixins
@mixin match-parent {
  position: absolute;
  bottom: 0px;
  right: 0px;
  left: 0px;
  top: 0px;
}

// vars
$banner-color: rgb(70,70,70);
$banner-height: 40px;

.app {
  height: 100%;
  width: 100%;
  position: absolute;
}

.banner {
  background-color: $banner-color;
  height: $banner-height;
  width: 100%;
  div.title {
    color: white;
    height: $banner-height;
    line-height: $banner-height;
    float: left;
    padding-left: 5px;
  }
}

.visualization.container {
  @include match-parent;
  background-color: red;
  margin-top: $banner-height;
}

canvas { // right now every canvas will act like this (a layer)
  height: 100%;   width: 100%;
  background-color: blue;
}