$banner-color: rgb(70,70,70);
$banner-height: 40px;

.banner {
  background-color: $banner-color;
  height: $banner-height;
  width: 100%;
  div.title {
    color: white;
    height: $banner-height;
    line-height: $banner-height;
    float: left;
    padding-left: 5px;
  }
}